@model Loja.Web.Models.ProdutoModel
@{
    ViewBag.Title = "Cadastro";
}

<h2>Cadastro de Produto</h2>
<h3 style="color: crimson;">@TempData["MensagemCadastro"]</h3>
@using (Html.BeginForm("Salvar", "Produto", FormMethod.Post))
{
    Html.AntiForgeryToken
    Html.HiddenFor(p => p.Id);
    
    <div>
        @Html.LabelFor(p => p.Nome)
        @Html.TextBoxFor(p => p.Nome)
    </div>
    <div>
        @Html.LabelFor(p => p.Valor)
        @Html.TextBoxFor(p => p.Valor)
    </div>
    <div>
        <button type="submit">Salvar</button>
    </div>
}

