
@{
    ViewBag.Title = "Ficha Técnica";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bottom-content">
    <div>
        <h2 class="bottom-title">Blanka</h2>
    </div>
    <div>
        <span>
            <img src="https://files.slack.com/files-pri/T2FVBENMS-F2RM5AKSL/blanka.png" alt="Blanka">
        </span>
        <span class="descricao">
            <p class="ficha"><strong>Primeira aparição:</strong> @(Model.PrimeiraAparicao) </p>
            <p class="ficha"><strong>Nascimento:</strong> @(Model.DataNascimento.ToString("dd' de 'MMMM' de 'yyyy")).</p>
            <p class="ficha"><strong>Altura:</strong> @(Model.Altura)cm.</p>
            <p class="ficha"><strong>Peso:</strong> @(Model.Peso)kg.</p>
            <p class="ficha"><strong>Medidas:</strong> @(Model.Medidas).</p>
            <p class="ficha"><strong>Tipo sanguíneo:</strong> @(Model.TipoSanguineo).</p>
            <p class="ficha"><strong>Habilidades especiais:</strong> @(Model.HabilidadesEspeciais).</p>
            <p class="ficha"><strong>Gosta:</strong> @(Model.Gosta).</p>
            <p class="ficha"><strong>Desgosta:</strong> @(Model.Desgosta).</p>
            <p class="ficha"><strong>Estilo de luta:</strong> @(Model.EstiloDeLuta).</p>
            <p class="ficha"><strong>Origem:</strong> @(Model.Origem).</p>
            <p class="ficha"><strong>Uma fala de vitória:</strong> @(Model.FalaDeVitoria) </p>
            <p class="ficha"><strong>SSF2 nickname:</strong> @(Model.SSF2Nickname).</p>
            <p class="ficha"><strong>SFA3 nickname:</strong> @(Model.SFA3Nickname).</p>
            <p class="ficha"><strong>SF4 nickname:</strong> @(Model.SF4Nickname).</p>
            <p class="ficha"><strong>SFA3 stage:</strong> @(Model.SFA3Stage).</p>
            <p class="ficha"><strong>SF2 stage:</strong> @(Model.SF2Stage).</p>
            <p class="ficha"><strong>Golpes especiais famosos:</strong> @(Model.GolpesEspeciaisFamosos).</p>
        </span>
    </div>
</div>

