
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2 class="bottom-title">Felipe Souza</h2>
</div>
<div>
    <div>
        <img src="http://csgo-stats.com/felpsfelps/graphic.png" alt="Felps-CSGO-Stats">
    </div>
    <div>
        <p class="sobre"><strong>Nome completo:</strong> @(Model.Nome).</p>
        <p class="sobre"><strong>Nascimento:</strong> @(Model.DataNascimento.ToString("dd' de 'MMMM'  de 'yyyy")).</p>
        <p class="sobre"><strong>Jogos favoritos:</strong> @(Model.JogosFavoritos).</p>
        <p class="sobre"><strong>Tipo sanguíneo:</strong> @(Model.TipoSanguineo).</p>
        <p class="sobre"><strong>Habilidades especiais:</strong> @(Model.HabilidadesEspeciais).</p>
        <p class="sobre"><strong>Gosta:</strong> @(Model.Gosta).</p>
        <p class="sobre"><strong>Desgosta:</strong> @(Model.Desgosta).</p>
        <p class="sobre"><strong>Origem:</strong> @(Model.Origem).</p>
        <p class="sobre"><strong>Nickname:</strong> @(Model.Nickname).</p>
        <p class="sobre"><strong>Golpes especiais famosos:</strong> @(Model.GolpesEspeciaisFamosos).</p>
    </div>
</div>
